body {
  text-align: center;
  background-color: #3b5878;
  margin: 0;
}

#level-title, .game-name {
  font-family: 'Press Start 2P', cursive;
  font-size: 3rem;
  margin: 3%;
  color: #f3e39e;
}

.container {
  display: block;
  width: 50%;
  margin: auto;
}

.btn {
  margin: 25px;
  display: inline-block;
  height: 200px;
  width: 200px;
  border: 10px solid black;
  border-radius: 20%;
}

.game-over {
  background-color: rgb(255, 0, 0);
  opacity: 0.8;
}

.red {
  background-color: rgb(229, 10, 10);
}

.green {
  background-color: rgb(0, 174, 0);
}

.blue {
  background-color: rgb(0, 0, 227);
}

.yellow {
  background-color: rgb(240, 240, 3);
}

.pressed {
  box-shadow: 0 0 20px white;
  background-color: grey;
}

.footer{
  text-align: center;
  background-color: black;
  color: white;
  padding: 40px;
}

.footer a{
  text-size-adjust: 1rem;
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: none;
  color: grey;
}
.footer a:hover{
  color: white;
}

